ion-card {
  margin: 0;
  font-size: 19px;
  text-align: center;
}

.ionCardContainer {
  margin: 10px 10px;
  margin: 0.5rem 1rem;
}

.title {
  display: flex;
  align-items: center;
}

.q_mark_icon {
  margin-left: 5px;
}

.imageDiv {
  width: 95vw;
  margin: auto;
}

.image {
  display: flex;
  align-items: center;
}

.inputBox {
  margin-top: 1.5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
}

.post_modal {
  padding-bottom: 30%
}

#adjustPriceConfirm_modal {
  &::part(backdrop){
    background-color: red
  }
  &::part(content){
    width: 95%;
    height: 50%;
    margin: auto;
    border-radius: 10px;
  }
}

ion-backdrop {
  opacity: 0.5;
  background: red;
  
}
