.postContainer {
  margin-top: 20px;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
}

.nameText {
  margin: 0px;
  color: #8f7d7d;
}

.nameContainer {
  margin: 10px 0px;
}

.personIcon {
  margin-right: 5px;
}
