.postContainer {
  margin-top: 20px;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
}

.nameText {
  margin: 0px;
  color: #8f7d7d;
}

.priceContainer {
  margin: 5px 20px;
}

.nameContainer {
  margin: 5px 20px;
}
.personIcon {
  margin-right: 5px;
}

.slide {
  width: 100%;
  height: 24rem;
  margin: 0.3rem 0 0.3rem 0;
}

.image_slide {
  width: 50%;
  height: 15rem;
}

.q_mark_icon {
  margin-left: 10px;
  padding-top: 3px;
  color: #3880ff;
}

.title {
  color: #fcd92b;
  margin: 0px;
  padding: 0px;
  align-items: baseline;
}

.card {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.icon {
  width: 75%;
  margin-top: 16px;
  font-size: 5em;
}
.badge {
  position: absolute;
  width: 1.1rem;
  height: 1.1rem;
  top: 15px;
  right: 13px;
  z-index: 100;
  border-radius: 50%;
}
