.container {
  display: flex;
  justify-content: space-between;
}

.chatDiv {
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 5px solid rgba(155, 140, 140, 0.774);
  justify-content: center;
}

.iconDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  margin-left: 0px;
}

.infoDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
