/* .photoList {
} */

.description {
  height: 40vh;
  width: 100vw;
}

.but {
  color: #4170bd;
  font-size: large;
}

.buttonList {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ion-padding-top {
  padding-top: 16px;
}

ion-modal#qualityPlan-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#qualityPlan-modal h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#qualityPlan-modal ion-icon {
  margin-right: 6px;

  width: 48px;
  height: 48px;

  padding: 4px 0;

  color: #aaaaaa;
}

ion-modal#qualityPlan-modal .wrapper {
  margin-bottom: 10px;
}

ion-modal#preview-modal {
  --width: 90vw;
  --min-width: 250px;
  --height: 60vh;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  --display: flex;
  --align-items: center;
}

ion-modal#preview-modal h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#preview-modal ion-icon {
  margin-right: 6px;

  width: 48px;
  height: 48px;

  padding: 4px 0;

  color: #aaaaaa;
}

ion-modal#preview-modal .wrapper {
  margin-bottom: 10px;
}

.PickPhoto {
  .photoButtonDiv {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
  }
  .slide {
    width: 100%;
  }
  .image-box {
    border: 1px solid gray;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 8rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0.18rem;
  }
  .preview-box ion-icon {
    font-size: 1rem;
  }
  .add-box ion-icon {
    font-size: 3rem;
  }
}
