.PickPhoto {
  .description {
    height: 40vh;
    width: 100vw;
    overflow-y: auto;
  }
  .preview_but {
    font-size: 1.25rem;
  }

  ion-modal #qualityPlan_modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }

  ion-modal #qualityPlan_modal h1 {
    margin: 20px 20px 10px 20px;
  }

  ion-modal #qualityPlan_modal ion-icon {
    margin-right: 6px;

    width: 48px;
    height: 48px;

    padding: 4px 0;

    // color: red;
  }

  ion-modal #qualityPlan_modal .wrapper {
    margin-bottom: 10px;
  }



  ion-modal #preview_modal .wrapper {
    margin-bottom: 100px;
    --height: 50%!;

  }

  .photoButtonDiv {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    margin-left: 0.5rem;
  }

  .label {
    font-size: 1.15rem;
    margin-left: 10px;
    width: 11rem;
  }
  .slide {
    width: 100%;
    margin: 0.3rem 0 0.3rem 0;
  }
  .image_box {
    border: 1px solid gray;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 8rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0.18rem;
    margin: 0.4rem;
    font-size: 3.5rem;
  }
  .preview_box ion-icon {
    font-size: 1rem;
  }
}

#preview_modal {
  &::part(backdrop){
    background-color: rgba(0,0,0,100)
  }
  &::part(content){
    width:80%;
    height: 30%;
    margin: auto;
    border-radius: 10px;
  }
}


  // .popover-content {
  //     left: 0 !important;
  //     width: 100%;
  //     background-color: red;
  // }

