.personalInfoContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.personalIconContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.personalInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 8px;
}

.personalIcon {
  width: 10rem;
  border: 0.35rem white solid;
  border-radius: 50%;
}

.personalInfo_name {
  width: 100%;
  padding: 0.25rem;
  margin: 0.1rem;

  font-size: 2rem;
  text-align: center;
}
.miniIcon {
  margin-right: 8px;
}

.portfolioContainer {
  display: flex;
  text-align: center;
  color: gold;
}

.postContainer {
  position: relative;
}

.sold {
  position: absolute;
  background-color: rgba(68, 56, 56, 0.863);

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.soldText {
  color: rgb(255, 255, 255);
  border: 3px solid white;
  font-weight: bold;
  font-size: larger;
  width: 70%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pendingText {
  color: rgb(255, 151, 15);
  border: 3px solid rgb(255, 151, 15);
  font-weight: bold;
  font-size: larger;
  width: 70%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
