.personalInfoContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.personalIconContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.personalInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 8px;
}

.personalIcon {
  width: 10rem;
  border: 0.35rem white solid;
  border-radius: 50%;
}

.test {
  color: #0f0f619a;
}

.personalInfo_name {
  width: 100%;
  padding: 0.25rem;
  margin: 0.1rem;

  font-size: 2rem;
  text-align: center;
}
.miniIcon {
  margin-right: 8px;
}

.portfolioContainer {
  display: flex;
  text-align: center;
  color: gold;
}

.productContainer {
  display: flex;
  flex-direction: column;
}
.postContainer {
  margin-bottom: 20px;
}
